<style>
  .user-profile {
    padding-top: 2vh;
  }

  .profile-pic {
    max-width: 50%;
  }
</style>

<div class="user-profile">
  <div class="container">
    <div class="row my-2">

      <div class="col-lg-4 order-lg-1 text-center">
        <%= image_tag "user-default.png",  class: "mx-auto img-fluid img-circle d-block profile-pic", alt: "avatar" %>
        <h6 class="mt-2">Upload a different photo</h6>
        <label class="custom-file">
          <span class="custom-file-control">Choose file</span>
          <input type="file" id="file" class="custom-file-input">
        </label>
      </div>

      <div class="col-lg-8 order-lg-2">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
          </li>
          <li class="nav-item">
            <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
          </li>
        </ul>
          <div class="tab-content py-4">
            <div class="tab-pane active" id="profile">
              <h5 class="mb-3">User Info</h5>
              <div class="column">
                <div class="col-md-6">
                  <p>
                    <%= current_user.first_name %> <%= current_user.last_name %>
                    <br>
                    <%= current_user.email %>
                  </p>
                </div>
              </div>
                <!--/row-->
            </div>

            <div class="tab-pane" id="edit">


              <%= form_for @user do |f| %>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">First name</label>
                  <div class="col-lg-9">
                    <%= f.text_field :first_name, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                  <div class="col-lg-9">
                    <%= f.text_field :last_name, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Email</label>
                  <div class="col-lg-9">
                    <%= f.text_field :email, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Password</label>
                  <div class="col-lg-9">
                    <%= f.text_field :password, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Confirm Password</label>
                  <div class="col-lg-9">
                    <%= f.text_field :password_confirmation, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"></label>
                  <div class="col-lg-9">
                    <%= link_to "Cancel", :back, {:class=>"btn btn-secondary"} %>
                    <%= f.submit "Save Changes", class: "btn btn-primary"%>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>